.lists{
    padding: calc(64px + var(--size-p)) var(--size-p) var(--size-p);

    &__title{
        margin-bottom: var(--size-h2);
    }

    &__list{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: var(--size-h2);
        transition: transform 0.3s ease-out, border 0.3s ease-out;

        &__el{
            &:hover{
                transform: scale(0.97);
            }

            &:active{
                transform: scale(0.95);
            }
        }
    }

    .list__el__link{
        width: 100%;
        display: flex;
        gap: var(--size-p);
        align-items: center;
    }

    .list-asset{
        aspect-ratio: 1 / 1;
        width: 20vw;
        border-radius: 5px;
        margin-bottom: 0;
    }

    .list-container{
        display: flex;
        flex-direction: column;
        gap: calc(var(--size-p) / 2);
        margin-bottom: 0;
        width: 100%;
    }

    .list-title{
        color: $c-text;
        font-weight: 600;
    }

    .list-count{
        color: $c-text-dark;
    }
}

@media screen and (min-width: 768px) {
    .lists{
        &__list{
            flex-direction: row;
            flex-wrap: wrap;
            gap: var(--size-p);

            &__el{
                width: calc(calc(100% / 3) - calc(calc(2 * var(--size-p)) / 3));
                overflow: hidden;
                border-radius: 10px;
                border: 1px solid $c-gray;

                &:hover{
                    border: 1px solid $c-text;
                    transform: scale(1);
                }

                &:active{
                    border: 1px solid $c-text;
                    transform: scale(0.95);
                }
            }

            .list__el__link{
                flex-direction: column;
                width: 100%;
                align-items: start;

                .list-asset{
                    aspect-ratio: 1 / 1;
                    width: 100%;
                    border-radius: 0;
                }

                .list-container{
                    padding: 0 var(--size-p) var(--size-p);
                    align-items: start;

                    .list-title{
                        font-size: var(--size-p);
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1100px) {

    .lists{

        &__list{

            &__el{
                width: calc(calc(100% / 4) - calc(calc(3 * var(--size-p)) / 4));

                .list-asset{
                    position: initial;
                    padding: 0;
                }

                .list-container{
                    position: initial;

                    .list-title{
                        padding: 0;
                        border: none;
                    }
                }
            }
        }
    }
    
}