.navbar{
    width: 100%;
    height: 64px;
    position: fixed;
    z-index: 9999;
    background: linear-gradient(#000 50%, transparent);

    &__wrapper{
        height: 100%;
        width: 100%;
        padding: 0 var(--size-p);
        display: flex;
        justify-content: space-between;
        align-items: center;
        top: 0;
        position: relative;
        z-index: 100;
    }

    .app-title{
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 100;

        p{
            color: $c-text;
            font-weight: 700;
            font-family: 'Quicksand';
            transition: color 0.3s ease-out;
        }
    }

    &__icon-container{
        display: flex;
        gap: var(--size-h2);
        position: relative;
        z-index: 100;

        .search-icon {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 44px;

            svg line, svg circle {
                transition: stroke 0.3s ease-out, fill 0.5s ease-out;
                -webkit-transition: stroke 0.3s ease-out, fill 0.5s ease-out; 
                -moz-transition: stroke 0.3s ease-out, fill 0.5s ease-out;  
                -o-transition: stroke 0.3s ease-out, fill 0.5s ease-out; 
            }
        }

        .burger-menu{
            width: 44px;
            aspect-ratio: 1 / 1;
            border: none;
            position: relative;
            background-color: transparent;
            transition: transform 0.3s ease-out;

            &:hover{
                transform: scale(0.95);
            }

            &::before{
                content: none !important;
            }

            .burger-bar{
                width: 100%;
                background-color: $c-text;
                height: 3px;
                border-radius: 50px;
                position: absolute;
                transition: all 0.3s ease-out;

                &:nth-child(1){
                    top: 6px;
                    left: 0;
                    transform-origin: center;
                }
                &:nth-child(2){
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                }
                &:nth-child(3){
                    top: calc(100% - 9px);
                    left: 0;
                    transform-origin: center;
                }
            }

            &:hover::before{
                content: none;
            }

            &:active::before{
                content: none;
            }

            &:active{
                background-color: transparent !important;
            }
        }
    }
    
    &__list{
        position: fixed;
        z-index: 10;
        inset: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: var(--size-h2);
        width: 100%;
        height: 100dvh;
        pointer-events: none;
        visibility: hidden;
        display: flex;

        &__el{
            position: relative;
            z-index: 10;
            opacity: 0;
            transition: opacity 0.3s ease-out;

            a{
                height: 44px;
                display: flex;
                align-items: center;
                justify-content: center;

                p{
                    color: $c-background;
                    font-weight: 600;
                }
            }
        }
    }

    &__background{
        width: 100vw;
        height: 100dvh;
        position: fixed;
        inset: 0;
        pointer-events: none;
        z-index: 1;
        overflow: hidden;
        
        &::before {
            content: '';
            position: absolute;
            top: -150vmax;
            right: -150vmax;
            width: 300vmax;  
            height: 300vmax;
            background: $c-text;
            border-radius: 50%;
            transform: scale(0);
            transform-origin: center;
            transition: transform 0.3s ease-out;
        }
    }

    &-link{
        transition: transform 0.3s ease-out;
        &:hover{
            transform: scale(0.95);
        }
        &:active{
            transform: scale(1.05);
        }
    }

    &.active{

        .app-title p{
            color: $c-background;
        }

        .search-icon svg line, svg circle {
            stroke: $c-background; 
        }

        .burger-bar{
            background-color: $c-background;

            &:nth-child(1){
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(45deg);
            }
            &:nth-child(2){
                width: 3px;
            }
            &:nth-child(3){
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(-45deg);
            }
        }

        .navbar__list{
            visibility: visible;
            pointer-events: auto;

            &__el{
                opacity: 1;
            }
        }

        .navbar__background::before{
            transform: scale(1);
            transition: transform 0.3s ease-out;
        }
    }
}

body.no-scroll {
    overflow: hidden;
}

@media screen and (min-width: 1100px){
    
    .navbar{
        
        .burger-menu{
            display: none;
        }

        &__list{
            position: absolute;
            flex-direction: row;
            gap: var(--size-h2);
            width: initial;
            height: initial;
            pointer-events: initial;
            visibility: visible;

            &__el{
                position: initial;
                opacity: 1;

                a{

                    p{
                        color: $c-text;
                    }
                }
            }
        }
    }

}