.new-password{
    height: 100dvh;

    &__wrapper{
        width: 100%;
    }

    .app-title{
        margin: 21px 0px calc(var(--size-p) + 21px) 0px;
        font-family: 'quicksand', sans-serif;
        font-weight: 700;
    }

}

@media screen and (min-width: 1100px) {
    .new-password{
        &__wrapper{
            width: calc(50% - calc(var(--size-p) * 4));
            right: var(--size-h2);
            position: absolute;
            display: flex;
            align-items: center;
            height: calc(100dvh - var(--size-h2));

            &-top{
                width: calc(100% - var(--size-p));
                position: absolute;
                top: var(--size-p);
                left: var(--size-p);
            }
        }

        .app-title{
            position: fixed;
            left: 25%;
            top: 50%;
            transform: translate(-50%, -50%);
            font-size: var(--size-h1);
        }
    }
}