.search{
    padding: calc(64px + var(--size-p)) var(--size-p) var(--size-p);
    position: relative;

    &__wrapper{
        width: 100%;
    }

    &-bar{
        width: 100%;
        height: 44px;
        position: relative;

        &-input{
            width: 100%;
            height: 100%;
            border: solid 1px $c-gray;
            border-radius: 5px;
            background-color: $c-background-light;
            padding-left: 44px;
            box-sizing: border-box;
        }
    
        &-button{
            border: none;
            border-radius: 5px;
            aspect-ratio: 1 / 1;
            width: 44px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 1px;
            left: 1px;
            background-color: transparent;
            transition: transform 0.3s ease-out;
    
            &::before{
                content: none;
            }
    
            &:hover{
                transform: scale(0.95);
            }
    
            &:active{
                transform: scale(1.05);
                background-color: transparent;
            }
        }
    
        &-icon{
            width: 30px;
            aspect-ratio: 1 / 1;
        }

        &-list{
            width: calc(100vw - calc(2 * var(--size-p)));
            position: absolute;
            inset: 0;
            display: flex;
            flex-wrap: wrap;
            gap: var(--size-p);
            top: calc(100% + var(--size-p));
            height: calc(100dvh - calc(108px + calc(var(--size-p) * 3)));
            overflow: hidden;
            overflow-y: scroll;
            border-radius: 5px;

            &__el{
                flex: 0 0 calc(50% - (var(--size-p) / 2));
                overflow: hidden;
                transition: transform 0.3s ease-out;

                &:hover{
                    transform: scale(0.97);
                }

                &:active{
                    transform: scale(0.95);
                }
            }

            .no-result{
                height: calc(100dvh - 156px);
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .movie{
            flex: 1;
            display: flex;
            flex-direction: column;
            row-gap: calc(var(--size-p) / 2);
            padding: 0;

            &__poster{
                width: 100%;
                aspect-ratio: 2 / 3;
                border-radius: 5px;
            }

            &__title{
                width: 100%;
                overflow: hidden;         
                white-space: nowrap;      
                text-overflow: ellipsis;  
                text-align: center;
                color: $c-text;
            }
        }
    }

    &__btn-container{
        display: flex;
        gap: var(--size-p);
        width: 100%;
        overflow: hidden;
        overflow-x: scroll;
        margin-top: var(--size-h2);
        position: relative;
        z-index: 200;
    }

    &__btn{
        transition: transform 0.3s ease-out;
        padding: 0 calc(var(--size-p) / 2);

        span{
            font-weight: 600;
            white-space: nowrap;
        }

        &::before{
            content: none;
        }

        &:hover{
            transform: scale(0.95);

            span{
                color: $c-text;
            }
        }

        &:active{
            background-color: $c-background;
            transform: scale(1.05);

            span{
                color: $c-text;
            }
        }

        &.active{
            background-color: $c-text;

            span{
                color: $c-background;
            }

            &:hover{
                span{
                    color: $c-background;
                }
            }

            &:active{
                span{
                    color: $c-background;
                }
            }
        }
    }

    &__filter-container{
        width: calc(100vw - calc(2 * var(--size-p)));
        max-height: calc(100dvh - calc(200px + var(--size-h2)));
        position: absolute;
        top: calc(200px + var(--size-p));
        left: 50%;
        transform: translateX(-50%);
        border-radius: 10px;
        background-color: $c-text;
        padding: var(--size-p) var(--size-p) calc(44px + calc(2 * var(--size-p)));
        box-sizing: border-box;
        display: none;
        z-index: 200;

        &.active{
            display: flex;
        }
    }

    .filter{

        &-wrapper{
            width: 100%;
            max-height: calc(100dvh - calc(200px + calc(44px + calc(3 * var(--size-h2)))));
            overflow: hidden;
            overflow-y: scroll;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: var(--size-h2);
        }

        &-btn.active{
            background-color: $c-text;

            span{
                color: $c-background;
            }
        }

        &-list-title{
            color: $c-background;
            margin-bottom: var(--size-p);
        }

        &-list{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: var(--size-p);

            &__el__btn{
                background-color: transparent;
                border: solid 1px $c-background;
                border-radius: 5px;
                padding: calc(var(--size-p) / 2);

                &::before{
                    content: none;
                }

                &:active{
                    background-color: transparent;
                }

                span{
                    color: $c-background;
                }

                &.active{
                    background-color: $c-background;

                    span{
                        color: $c-text;
                    }
                }
            }
        }

        &-reset-btn{
            width: calc(100% - calc(2 * var(--size-p)));
            position: absolute;
            bottom: var(--size-p);
            background-color: $c-text;
            border: solid 1px $c-background;

            &::before{
                content: none;
            }

            &:hover{
                background-color: $c-background;
                transform: scale(0.95);
    
                span{
                    color: $c-text;
                }
            }
    
            &:active{
                background-color: $c-background;
                transform: scale(1.05);
    
                span{
                    color: $c-text;
                }
            }
    
            span{
                color: $c-background;
            }
        }
    }
    
    &__filter-overlay{
        position: fixed;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 150;
        display: none;

        &.active{
            display: block;
        }
    }

    &__list{
        display: flex;
        flex-direction: column;
        gap: var(--size-h3);
        width: 100%;

        &-container{
            display: flex;
            flex-direction: column;
            gap: var(--size-h2);
            width: 100%;
            margin-top: var(--size-p);
            height: calc(100dvh - calc(152px + calc(var(--size-p) * 5)));
            overflow: hidden;
            overflow-y: scroll;
            border-radius: 5px;
        }
        
    }

    &__movie-list{
        display: flex;
        overflow: hidden;
        overflow-x: scroll;
        gap: var(--size-p);
        width: 100%;

        &-title{
            font-family: 'Quicksand';
            font-weight: 600;
            width: 100%;
            line-height: 140%;
        }

        &__el{
            flex: 0 0 40%;
            overflow: hidden;
            transition: transform 0.3s ease-out;

            &:hover{
                transform: scale(0.97);
            }

            &:active{
                transform: scale(0.95);
            }
        }

        .movie{
            display: flex;
            flex-direction: column;
            gap: calc(var(--size-p) / 2);
            flex: 1;
            padding: 0;

            &-poster{
                width: 100%;
                aspect-ratio: 2 / 3;
                border-radius: 5px;
            }

            &-title{
                width: 100%;
                overflow: hidden;         
                white-space: nowrap;      
                text-overflow: ellipsis;  
                text-align: center;
                color: $c-text;
            }
        }
    }
}

@media screen and (min-width:768px) {

    .search{

        &-bar{
            max-width: 70vw;
            margin: 0 auto;

            &-list{
            width: calc(100vw - calc(var(--size-p) * 2));
            left: 50%;
            transform: translateX(-50%);
            border-radius: 10px;

                &__el{
                    flex: 0 0 calc(25% - calc(calc(var(--size-p) * 3) / 4));
                    overflow: hidden;
                    transition: transform 0.3s ease-out;
                }
            }
        }

        &__btn-container{
            justify-content: center;
        }

        &__filter-container{
            max-width: 500px;
        }

        &__list-container{
            border-radius: 10px;
        }

        &__movie-list{

            &__el{
                flex: 0 0 20%;
            }
        }

        .movie{

            &::before{
                content: none;
            }
        }
    }
    
}

@media screen and (min-width:1100px) {

    .search{

        &-bar{
            max-width: 40vw;

            &-list{
            width: calc(100vw - calc(var(--size-p) * 2));

                &__el{
                    flex: 0 0 calc(20% - calc(calc(var(--size-p) * 4) / 5));
                }
            }
        }

        &__btn-container{
            justify-content: center;
        }

        &__filter-container{
            max-width: 40vw;
        }

        &__movie-list{

            &__el{
                flex: 0 0 10%;
            }
        }
    }
}