body{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

*{
    margin: 0;
    padding: 0;
}

section{
    padding: $p-margin-desktop;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}

fieldset{
    border: none;
    padding: 23px;
    display: flex;
    column-gap: 23px;
    padding: 0;
}

a{
    text-decoration: none;
}

h1, h2, h3{
    color: white;
    font-family: Quicksand;
}

h1{
    font-size: $h1-fs-desktop;
    color: rgb(189, 30, 30);
    font-weight: 800;
}

h2{
    font-size: $h2-fs-desktop;
    font-weight: 700;
}

h3{
    font-size: $h3-fs-desktop;
    font-weight: 600;
}

h4{
    font-size: $h4-fs-desktop;
    color: white;
    font-family: Roboto;
    font-weight: 500;
}

p{
    font-size: $p-fs-desktop;
    color: white;
    font-family: Roboto;
}

.double-o{
    letter-spacing:-0.15em;
    margin-right: 13px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none; /* retire le contour */
  box-shadow: none; /* retire les ombres de focus éventuelles */
}

select{
    appearance: none;           
    -webkit-appearance: none;   
    -moz-appearance: none;
    border: 0;
    cursor: pointer;
    font-size: $p-fs-desktop;
    font-family: Quicksand;
    font-weight: 600;
    background-color: transparent;
}

button{
    border: none;
    background-color: rgb(189, 30, 30);
    cursor: pointer;

    &:hover{
        scale: 1.1;
    }

    &:active{
        scale: 0.9;
    }
}

.font-gradient{
    background: linear-gradient(90deg, #6FB1FC, #457B9D, #A78BFA, #FFD166, #FF6B6B, #E63946, #F72585, #F77F00);
    background-size: 700% 100%;      
    background-clip: text;   
    -webkit-text-fill-color: transparent;
    animation: gradient-slide 8s linear infinite alternate;

    @keyframes gradient-slide {
    0% { background-position: 0% 0%; }
    100% { background-position: 100% 0%; } 
    }
}

.box-gradient{
    background: linear-gradient(90deg, #6FB1FC, #457B9D, #A78BFA, #FFD166, #FF6B6B, #E63946, #F72585, #F77F00);
    background-size: 700% 100%;
    animation: gradient-slide 8s linear infinite alternate;

    @keyframes gradient-slide {
    0% { background-position: 0% 0%; }
    100% { background-position: 100% 0%; }
    }
}