body{
    margin: 0;
    padding: 0;
    background-color: #2e2e44;
    color: white;
}

*{
    margin: 0;
    padding: 0;
}

section{
    width: 100%;
    padding: 23px;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}

fieldset{
    border: none;
    padding: 23px;
    display: flex;
    column-gap: 23px;
}

a{
    text-decoration: none;
}

h1, h2, h3, h4, p{
    color: white;
}