@charset "UTF-8";
@font-face {
  font-family: Quicksand;
  src: url(../assets/fonts/Quicksand/Quicksand-VariableFont_wght.ttf);
}
@font-face {
  font-family: Roboto;
  src: url(../assets/fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf);
}
body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}

* {
  margin: 0;
  padding: 0;
}

section {
  padding: 18px;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

fieldset {
  border: none;
  padding: 23px;
  display: flex;
  -moz-column-gap: 23px;
       column-gap: 23px;
  padding: 0;
}

a {
  text-decoration: none;
}

h1, h2, h3 {
  color: white;
  font-family: Quicksand;
}

h1 {
  font-size: 72px;
  color: rgb(189, 30, 30);
  font-weight: 800;
}

h2 {
  font-size: 50.904px;
  font-weight: 700;
}

h3 {
  font-size: 36px;
  font-weight: 600;
}

h4 {
  font-size: 25.452px;
  color: white;
  font-family: Roboto;
  font-weight: 500;
}

p {
  font-size: 18px;
  color: white;
  font-family: Roboto;
}

.double-o {
  letter-spacing: -0.15em;
  margin-right: 13px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none; /* retire le contour */
  box-shadow: none; /* retire les ombres de focus éventuelles */
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 0;
  cursor: pointer;
  font-size: 18px;
  font-family: Quicksand;
  font-weight: 600;
  background-color: transparent;
}

button {
  border: none;
  background-color: rgb(189, 30, 30);
  cursor: pointer;
}
button:hover {
  scale: 1.1;
}
button:active {
  scale: 0.9;
}

.font-gradient {
  background: linear-gradient(90deg, #6FB1FC, #457B9D, #A78BFA, #FFD166, #FF6B6B, #E63946, #F72585, #F77F00);
  background-size: 700% 100%;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient-slide 8s linear infinite alternate;
}
@keyframes gradient-slide {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}

.box-gradient {
  background: linear-gradient(90deg, #6FB1FC, #457B9D, #A78BFA, #FFD166, #FF6B6B, #E63946, #F72585, #F77F00);
  background-size: 700% 100%;
  animation: gradient-slide 8s linear infinite alternate;
}
@keyframes gradient-slide {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}

.app_introduction {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.app_introduction__content .app_title {
  margin-bottom: 72px;
  text-align: center;
}

.mood_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 50.904px;
}
.mood_form__introduction {
  max-width: 800px;
}
.mood_form__container {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  justify-content: center;
}
.mood_form__el {
  box-sizing: border-box;
  width: 300px;
  padding: 9px;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.mood_form__el::after {
  content: "";
  z-index: 0;
  position: absolute;
  pointer-events: none;
  right: 9px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background: no-repeat center/contain url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M5.70711 9.71069C5.31658 10.1012 5.31658 10.7344 5.70711 11.1249L10.5993 16.0123C11.3805 16.7927 12.6463 16.7924 13.4271 16.0117L18.3174 11.1213C18.708 10.7308 18.708 10.0976 18.3174 9.70708C17.9269 9.31655 17.2937 9.31655 16.9032 9.70708L12.7176 13.8927C12.3271 14.2833 11.6939 14.2832 11.3034 13.8927L7.12132 9.71069C6.7308 9.32016 6.09763 9.32016 5.70711 9.71069Z' fill='%23000000'/></svg>");
}
.mood_form__reponse {
  width: 100%;
}
.mood_form__reponse__el {
  text-align: center;
}
.mood_form__btn {
  flex: 0 0 auto; /* Flexbox : empêche l'étirement */
  align-self: center;
  padding: 9px 18px;
  border-radius: 9px;
}
.mood_form__btn p {
  display: inline-block;
  color: black;
  font-weight: 600;
  font-family: Quicksand;
}

.suggestions {
  display: flex;
  flex-direction: column;
  row-gap: 36px;
}

.movies_list {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 36px;
}
.movies_list__content {
  display: flex;
  -moz-column-gap: 25.452px;
       column-gap: 25.452px;
  width: 100%;
  overflow: scroll;
}
.movies_list__content__movie {
  display: flex;
  flex-direction: column;
  row-gap: 25.452px;
}
.movies_list__content__movie img {
  height: 300px;
  border-radius: 15px;
}
.movies_list__content__movie h4 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

.movie_show {
  width: 100%;
  display: flex;
  justify-content: center;
}
.movie_show .movie {
  display: flex;
  -moz-column-gap: 72px;
       column-gap: 72px;
  align-items: center;
  max-width: 1200px;
}
.movie_show .movie__asset {
  width: 33.33%;
  border-radius: 15px;
}
.movie_show .movie__list {
  width: 66.66%;
  display: flex;
  flex-direction: column;
  row-gap: 18px;
}

.matching_movies {
  width: 100%;
  margin-top: 144px;
  display: flex;
  flex-direction: column;
  row-gap: 36px;
}
.matching_movies .matching__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 25.452px;
}
.matching_movies .matching__list__el {
  display: flex;
  flex-direction: column;
  row-gap: 18px;
}
.matching_movies .matching__list .el__asset {
  width: 100%;
  border-radius: 15px;
}
.matching_movies .matching__list .el__title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}/*# sourceMappingURL=app.css.map */