@import 'utils/fonts';
@import 'utils/variables';
@import 'components/type';
@import 'components/navbar';
@import 'components/intro';
@import 'components/register';
@import 'components/login';
@import 'components/forgot_password';
@import 'components/new_password';
@import 'components/form';
@import 'components/search';
@import 'components/lists';
@import 'components/list';
@import 'components/movie';
@import 'components/dashboard';
@import 'components/accueil';
@import 'components/footer';
@import 'components/credits';
