@font-face {
    font-family: 'Quicksand';
    src: url('../assets/fonts/Quicksand/Quicksand-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf');
}
