.app_introduction{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    &__content{
        max-width: 800px;

        .app_title{
            margin-bottom: $h1-margin-desktop;
            text-align: center;
        }
    }
}

.mood_form{
    display: flex;
    flex-direction: column;
    row-gap: $h4-margin-desktop;

    &__container{
        display: flex;
        column-gap: $h4-margin-desktop;
    }

    &__el{
        width: 33.33%;
    }

    &__reponse{
        border: 0;
        border-radius: 15px;
        width: 100%;
        padding: calc($p-fs-desktop / 2);
        cursor: pointer;
        font-size: $p-fs-desktop;
        font-family: Quicksand;
        font-weight: 600;

        &__el{
            text-align: center;
        }
    }

    &__btn{
        flex: 0 0 auto; /* Flexbox : empêche l'étirement */
        align-self: center;
        padding: calc($p-fs-desktop / 2) $p-margin-desktop;
        border-radius: 9px;
        margin-top: $h1-margin-desktop;

        p{
            display: inline-block;
            color: black;
            font-weight: 600;
            font-family: Quicksand;
        }
    }
    
}