.app_introduction{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    &__content{

        .app_title{
            margin-bottom: $h1-margin-desktop;
            text-align: center;
        }
    }
}

.mood_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: $h2-margin-desktop;

    &__introduction{
        max-width: 800px;
    }

    &__container{
        display: flex;
        flex-wrap: wrap;
        gap: $p-margin-desktop;
        justify-content: center;
    }

    &__el{
        box-sizing: border-box;
        width: 300px;
        padding: calc($p-fs-desktop / 2);
        border-radius: 15px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        &::after{
            content: "";
            z-index: 0;
            position: absolute;
            pointer-events: none;
            right: calc($p-fs-desktop / 2);
            top: 50%;
            transform: translateY(-50%);
            width: 20px;
            height: 20px;
            background: no-repeat center / contain
            url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M5.70711 9.71069C5.31658 10.1012 5.31658 10.7344 5.70711 11.1249L10.5993 16.0123C11.3805 16.7927 12.6463 16.7924 13.4271 16.0117L18.3174 11.1213C18.708 10.7308 18.708 10.0976 18.3174 9.70708C17.9269 9.31655 17.2937 9.31655 16.9032 9.70708L12.7176 13.8927C12.3271 14.2833 11.6939 14.2832 11.3034 13.8927L7.12132 9.71069C6.7308 9.32016 6.09763 9.32016 5.70711 9.71069Z' fill='%23000000'/></svg>");

        }
    }

    &__reponse{
        width: 100%;

        &__el{
            text-align: center;
        }
    }

    &__btn{
        flex: 0 0 auto; /* Flexbox : empêche l'étirement */
        align-self: center;
        padding: calc($p-fs-desktop / 2) $p-margin-desktop;
        border-radius: 9px;
        // margin-top: $h1-margin-desktop;

        p{
            display: inline-block;
            color: black;
            font-weight: 600;
            font-family: Quicksand;
        }
    }
    
}