.movie_show{
    width: 100%;
    height: 100vh;
    // padding: 80px $p-margin-desktop;
    // display: flex;
    // justify-content: start;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.805), rgba(0, 0, 0, 0.5)),
        linear-gradient( rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 1));
        z-index: 1;
        top: 0;
        left: 0;
    }
    

    .movie{
        display: flex;
        // flex-direction: row-reverse;
        // column-gap: $h1-margin-desktop;
        // align-items: center;
        // margin-top: $h2-margin-desktop;
        position: absolute;
        z-index: 10;
        left: 10%;
        top: 50%;
        transform: translateY(-50%);
        max-width: 600px;

        &__title{
            font-family: Roboto;
        }

        &__list{
            display: flex;
            flex-direction: column;
            row-gap: $p-margin-desktop;

            &__el:nth-child(2){
                display: flex;
                gap: $p-margin-desktop;

                p{
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &::before{
                        content: "";
                        display: inline-block;
                        width: 8px;
                        height: 8px;
                        border-radius: 100px;
                        background: linear-gradient(90deg, #6FB1FC, #457B9D, #A78BFA, #FFD166, #FF6B6B, #E63946, #F72585, #F77F00);
                        background-size: 700% 100%;
                        animation: gradient-slide 8s linear infinite alternate;
                        margin-right: $p-margin-desktop;

                        @keyframes gradient-slide {
                            0% { background-position: 0% 0%; }
                            100% { background-position: 100% 0%; }
                        }
                    }

                    &:first-child{
                        padding: calc($p-margin-desktop / 2);
                        border-radius: calc($p-margin-desktop / 2);
                        color: black;
                        font-weight: 600;

                        span{
                            margin-left: calc($p-margin-desktop / 2);
                            padding: calc(calc($p-margin-desktop / 2) / 2);
                            border-radius: calc(calc($p-margin-desktop / 2) / 2);
                            background-color: black;
                            color: white;
                            font-weight: 400;
                        }

                        &::before{
                            display: none;
                        }
                    }
                }
            }
        }

        &__emotions__list{
            display: flex;
            gap: $p-margin-desktop;
            flex-wrap: wrap;

        }

        &__emotions__el{
            padding: calc($p-margin-desktop / 2);
            border: 1px solid;
            border-radius: calc($p-margin-desktop / 2);
        }

        &__actors__list{
            display: flex;
            gap: $p-margin-desktop;
        }

        .movie__actors__el{
            display: flex;
            align-items: center;
            justify-content: center;
    
            &::before{
                content: "";
                display: inline-block;
                width: 8px;
                height: 8px;
                border-radius: 100px;
                background: linear-gradient(90deg, #6FB1FC, #457B9D, #A78BFA, #FFD166, #FF6B6B, #E63946, #F72585, #F77F00);
                background-size: 700% 100%;
                animation: gradient-slide 8s linear infinite alternate;
                margin-right: $p-margin-desktop;
    
                @keyframes gradient-slide {
                    0% { background-position: 0% 0%; }
                    100% { background-position: 100% 0%; }
                }
            }
    
            &:first-child::before{
                display: none;
            }
        }

        &__valuation{
            display: flex;
            align-items: center;
            gap: $h1-margin-desktop;

            &__stars{
                display: flex;
                gap: calc($p-margin-desktop / 2);

                button::after{
                    -webkit-mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M9.15316 5.40838C10.4198 3.13613 11.0531 2 12 2C12.9469 2 13.5802 3.13612 14.8468 5.40837L15.1745 5.99623C15.5345 6.64193 15.7144 6.96479 15.9951 7.17781C16.2757 7.39083 16.6251 7.4699 17.3241 7.62805L17.9605 7.77203C20.4201 8.32856 21.65 8.60682 21.9426 9.54773C22.2352 10.4886 21.3968 11.4691 19.7199 13.4299L19.2861 13.9372C18.8096 14.4944 18.5713 14.773 18.4641 15.1177C18.357 15.4624 18.393 15.8341 18.465 16.5776L18.5306 17.2544C18.7841 19.8706 18.9109 21.1787 18.1449 21.7602C17.3788 22.3417 16.2273 21.8115 13.9243 20.7512L13.3285 20.4768C12.6741 20.1755 12.3469 20.0248 12 20.0248C11.6531 20.0248 11.3259 20.1755 10.6715 20.4768L10.0757 20.7512C7.77268 21.8115 6.62118 22.3417 5.85515 21.7602C5.08912 21.1787 5.21588 19.8706 5.4694 17.2544L5.53498 16.5776C5.60703 15.8341 5.64305 15.4624 5.53586 15.1177C5.42868 14.773 5.19043 14.4944 4.71392 13.9372L4.2801 13.4299C2.60325 11.4691 1.76482 10.4886 2.05742 9.54773C2.35002 8.60682 3.57986 8.32856 6.03954 7.77203L6.67589 7.62805C7.37485 7.4699 7.72433 7.39083 8.00494 7.17781C8.28555 6.96479 8.46553 6.64194 8.82547 5.99623L9.15316 5.40838Z' fill='white'/></svg>");
                    mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M9.15316 5.40838C10.4198 3.13613 11.0531 2 12 2C12.9469 2 13.5802 3.13612 14.8468 5.40837L15.1745 5.99623C15.5345 6.64193 15.7144 6.96479 15.9951 7.17781C16.2757 7.39083 16.6251 7.4699 17.3241 7.62805L17.9605 7.77203C20.4201 8.32856 21.65 8.60682 21.9426 9.54773C22.2352 10.4886 21.3968 11.4691 19.7199 13.4299L19.2861 13.9372C18.8096 14.4944 18.5713 14.773 18.4641 15.1177C18.357 15.4624 18.393 15.8341 18.465 16.5776L18.5306 17.2544C18.7841 19.8706 18.9109 21.1787 18.1449 21.7602C17.3788 22.3417 16.2273 21.8115 13.9243 20.7512L13.3285 20.4768C12.6741 20.1755 12.3469 20.0248 12 20.0248C11.6531 20.0248 11.3259 20.1755 10.6715 20.4768L10.0757 20.7512C7.77268 21.8115 6.62118 22.3417 5.85515 21.7602C5.08912 21.1787 5.21588 19.8706 5.4694 17.2544L5.53498 16.5776C5.60703 15.8341 5.64305 15.4624 5.53586 15.1177C5.42868 14.773 5.19043 14.4944 4.71392 13.9372L4.2801 13.4299C2.60325 11.4691 1.76482 10.4886 2.05742 9.54773C2.35002 8.60682 3.57986 8.32856 6.03954 7.77203L6.67589 7.62805C7.37485 7.4699 7.72433 7.39083 8.00494 7.17781C8.28555 6.96479 8.46553 6.64194 8.82547 5.99623L9.15316 5.40838Z' fill='white'/></svg>");
                }
            }

            &__dislike{

                &::after{
                    -webkit-mask-image: url("data:image/svg+xml;utf8,<svg fill='%23ffffff' version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 512 512' width='45px' height='45px' stroke='%23ffffff' transform='matrix(-1,0,0,1,0,0)'><g><g><rect x='366.933' width='136.533' height='341.333'/></g></g><g><g><path d='M110.933,0C54.38,0,8.533,45.846,8.533,102.4v136.533c0,56.554,45.846,102.4,102.4,102.4h102.4v123.776c0,25.897,20.994,46.891,46.892,46.891c22.351,0,41.597-15.776,45.979-37.695L332.8,341.333V0H110.933z'/></g></g></svg>");
                    mask-image: url("data:image/svg+xml;utf8,<svg fill='%23ffffff' version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 512 512' width='45px' height='45px' stroke='%23ffffff' transform='matrix(-1,0,0,1,0,0)'><g><g><rect x='366.933' width='136.533' height='341.333'/></g></g><g><g><path d='M110.933,0C54.38,0,8.533,45.846,8.533,102.4v136.533c0,56.554,45.846,102.4,102.4,102.4h102.4v123.776c0,25.897,20.994,46.891,46.892,46.891c22.351,0,41.597-15.776,45.979-37.695L332.8,341.333V0H110.933z'/></g></g></svg>");
                }
            }

            button {
                position: relative;
                background: none;
                border: none;
                padding: 0;
                cursor: pointer;
                width: 45px;
                height: 45px;

                svg{
                    fill: transparent;  
                    stroke-width: 30px;
                    display: block;
                    margin: auto;
                    overflow: visible;
                    stroke: #ffffff;            // Contour blanc
                    transition: fill 0.3s ease;
                }
    
                svg path {
                    fill: transparent;          // Etoile vide par défaut
                    stroke: #ffffff;            // Contour blanc
                    transition: fill 0.3s ease;
                }
    
                &.active{
                    svg{
                    fill: url(#grad1);          // Utilise le gradient défini ci-dessous
                    stroke: transparent;

                        path{
                            stroke: transparent;
                        }
                    }
    
                    &::after{
                        content: "";
                        position: absolute;
                        z-index: 0;
                        inset: 0;
                        background: linear-gradient(90deg, #6FB1FC, #457B9D, #A78BFA, #FFD166, #FF6B6B, #E63946, #F72585, #F77F00);
                        background-size: 400% 400%;
                        -webkit-mask-repeat: no-repeat;
                        -webkit-mask-position: center;
                        -webkit-mask-size: contain;
                        mask-repeat: no-repeat;
                        mask-position: center;
                        mask-size: contain;
                        animation: gradientAnim 8s linear infinite alternate;
                    }
    
                }
    
    
                @keyframes gradientAnim {
                    0% { background-position: 0% 0%; }
                    100% { background-position: 100% 0%; }
                }
    
            }

        }

    }
}

.matching_movies{
    width: 100%;
    margin-top: $section-margin-desktop;
    display: flex;
    flex-direction: column;
    row-gap: $h3-margin-desktop;

    .matching__list{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: $h4-margin-desktop;

        &__el{
            display: flex;
            flex-direction: column;
            row-gap: $p-margin-desktop;
        }

        .el__asset{
            width: 100%;
            aspect-ratio: 211 / 317;
            border-radius: 15px;
        }

        .el__title{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 200px;
        }
    }
}