.suggestions{
    display: flex;
    flex-direction: column;
    row-gap: $h3-margin-desktop;
}

.movies_list{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: $h3-margin-desktop;

    &__content{
        display: flex;
        column-gap: $h4-margin-desktop;
        width: 100%;
        overflow: scroll;

        &__movie{
            display: flex;
            flex-direction: column;
            row-gap: $h4-margin-desktop;

            img{
                height: 300px;
                border-radius: 15px;
            }

            h4{
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 200px;
            }
        }
    }
}